body{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    border: 5px solid rgb(64, 62, 62);
}

.orange-color{
    color: orange;
}

#large-font{
    font-size: 50px;
    color: black;
}

#normal-font{
    font-size: 20px;
    color: gray;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px lightgray;
}

.flexible-container{
    display: flex;
    margin-bottom: 10%;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
}

.half-width img{
    width: 90%;
}

#about-us{
    font-size: 35px;
    color: black;
}

.about-part{
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

.recipes-part{
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    margin-bottom: 5%;
}

.box-format{
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 2px gray;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}

.space-box{
    border: 20px 20px;
    margin-left: 20%;
}

.follower-part{
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 2px gray;
}

.follower-part h1{
    font-size: 40px;
}

.follower-part p{
    font-size: 15px;
    color: gray;
}

.orange-red{
    color: orangered;
}

.silver-color{
    color: silver;
}

footer{
    padding: 30px 50px 150px 50px;
    background-color: black;
    text-align: center;
}

footer p{
    color: white;
}